<!DOCTYPE html>
<html lang="en">
<head>
	{include file="_top.tpl"}
	<script>
		{literal}
		$(document).ready(function(){
			"use strict";

			App.init(); // Init layout and core plugins
			Plugins.init(); // Init all plugins
			FormComponents.init(); // Init all form-specific plugins
		});
		{/literal}
	</script>

</head>

<body>

<!-- Header -->
<header class="header navbar navbar-fixed-top" role="banner">
	{include file="_header.tpl"}
</header>
<!-- /.header -->

<div id="container">
	<div id="sidebar" class="sidebar-fixed">
		<div id="sidebar-content">

			<!-- Search Input -->
			<form class="sidebar-search">
				<div class="input-box">
					<button type="submit" class="submit">
						<i class="icon-search"></i>
					</button>
				<span>
					<input type="text" name="quickWord" id="quickWord" placeholder="Search for word...">
				</span>
				</div>
			</form>


			<!--=== Navigation ===-->
			{include file="_nav.tpl"}
			<!-- /Navigation -->

		</div>
		<div id="divider" class="resizeable"></div>
	</div>
	<div id="content">
	<div class="container">
		<!-- Breadcrumbs line -->
		<div class="crumbs">
			<ul id="breadcrumbs" class="breadcrumb">
				<li>
					<i class="icon-home"></i>
					<a href="{$SITEROOT}/home">Panel</a>
				</li>
				<li>
					<i class="icon-road"></i>
					<a href="{$SITEROOT}/sectors">Sektorler</a>
				</li>
			</ul>

		</div>
		<!-- /Breadcrumbs line -->

		<!--=== Page Header ===-->
		<div class="page-header">
		</div>
		<!-- /Page Header -->

		<!--=== Page Content ===-->


		<div class="row">
			<div class="col-md-12">
				<div class="widget box">
					<div class="widget-header">
						<h4><i class="icon-reorder"></i>
							{if $sector->gotValue}
								Sektor Guncelle
							{else}
								Yeni Sektor
							{/if}

						</h4>
					</div>
					<div class="widget-content">
						<form class="form-horizontal row-border" action="{$SITEROOT}/sectorAction" name="sector" id="sector" method="POST" target="ps">
							{if $sector->gotValue}
								<input type="hidden" name="id" value="{$sector->id}"/>
							{/if}
							{getFormToken f="sector"}
							{formBox name="name" label="sektor adi" value=$sector->name info="super info" type="text"}
							<div class="form-actions">
								<button type="submit" class="submit btn btn-primary pull-right">
									Submit <i class="icon-angle-right"></i>
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- /.row -->
		<!-- /Page Content -->
	</div>
	<!-- /.container -->

</div>
</div>

{include file="footer.tpl"}
</body>
</html>