<div class="form-group">
	<label class="col-md-2 control-label" for="input17">{$__label}</label>
	<div class="col-md-10"><input type="text" class="form-control" data-mask="99/99/9999" value="{$__value}" name="{$__name}" id="{$__name}">
		<span class="help-block">Gun/Ay/Yil seklinde </span></div>
</div>